.dashboard-page{
    display: flex;
    position: relative;
}

.dashboard-sidebar {
    background-color: #324054;
    box-sizing: border-box;
    color: hsla(0,0%,100%,.6);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 340px;
    padding: 0;
    position: relative;
    width: 340px;
    z-index: 1000;
}

.dashboard-sidebar .dashboard-sidebar-header .first-row {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dashboard-sidebar .dashboard-sidebar-header .first-row .branding {
    background-image: url('../../images/logo_transparent.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
}
.study-sidebar .study-sidebar-header .first-row .branding {
    background-image: url('../../images/logo_transparent.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    flex-shrink: 0;
    height: 30px;
    margin: 0 12px 0 0;
    width: 60px;
    margin-left: -30px;
    padding-left: 30px;
    background-position: center right 1px;
}

.dashboard-sidebar .dashboard-sidebar-header .first-row .user .user-avatar {
    position: relative;
}
.dashboard-sidebar .dashboard-sidebar-header .first-row .user .user-stats {
    color: hsla(0,0%,100%,.5);
    font-size: 10px;
    font-weight: 300;
}

.dashboard-sidebar .dashboard-sidebar-header .first-row .user {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -7px;
    min-height: 86px;
    padding-right: 0;
    position: relative;
    width: 208px;
}
.dashboard-sidebar .dashboard-sidebar-header .first-row .user .user-name {
    color: hsla(0,0%,100%,.9);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 208px;
}

.dashboard-sidebar .dashboard-sidebar-header .first-row .user .user-avatar .user-avatar-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.dashboard-sidebar-header{
    align-items: flex-start;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 80px;
    margin: 30px 30px 6px;
    width: calc(100% - 60px);
}

.dashboard-detail {
    border-left: 1px solid #324054;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    min-width: 884px;
    position: relative;
}

.dashboard-sidebar .sidebar-sections {
    height: calc(100vh);
    overflow-y: hidden;
}
.dashboard-sidebar .sidebar-sections:hover {
    overflow-y: auto;
}
.dashboard-sidebar .sidebar-sections .sidebar-section {
    margin-bottom: 30px;
}

.dashboard-sidebar .sidebar-sections .sidebar-section .sidebar-section-header {
    align-items: center;
    border-bottom: 1px solid hsla(221,8%,54%,.44);
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding-bottom: 4px;
    padding-top: 12px;
}

.dashboard-sidebar .sidebar-sections .sidebar-section .sidebar-section-header .section-heading {
    color: hsla(0,0%,100%,.8);
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
}
.dashboard-sidebar .sidebar-sections .sidebar-section .sidebar-section-header .action-buttons {
    display: flex;
}

.dashboard-sidebar .sidebar-sections .sidebar-section .sidebar-section-header .action-buttons .icon-button.add-button {
    font-size: 20px;
}

.dashboard-sidebar .sidebar-sections .sidebar-section .sidebar-section-header .action-buttons .icon-button.search-button {
    font-size: 20px;
}

.dashboard-sidebar .dashboard-sidebar-header .first-row .dashboard-options-button .options-menu-button .options-button {
    font-size: 30px;
    color: hsla(0,0%,100%,.4);
    height: 30px;
    width: 30px;
}

.options-menu-button {
    position: relative;
}

.dashboard-sidebar .dashboard-sidebar-header .first-row .dashboard-options-button .options-menu-button .options-button:hover {
    color: #28a5dc;
}
.icon-button, .icon-button i {
    align-items: center;
    display: flex;
    justify-content: center;
}
.icon-button {
    background-color: transparent;
    border-radius: 50%;
    color: #777;
    cursor: pointer;
    font-size: 36px;
    height: 36px;
    position: relative;
    width: 36px;
}

.dashboard-sidebar .sidebar-sections .sidebar-section .sidebar-section-header .action-buttons .icon-button {
    color: hsla(0,0%,100%,.8);
}

.dashboard-sidebar .sidebar-sections .sidebar-section .user-packs {
    margin: 24px 0 24px 48px;
    min-height: 100px;
}

.dashboard-sidebar .sidebar-sections .sidebar-section .user-packs .sidebar-pack {
    cursor: pointer;
    display: flex;
    height: 40px;
    margin-bottom: 36px;
    padding-right: 48px;
}
.dashboard-sidebar .sidebar-sections .sidebar-section .user-packs .sidebar-pack .pack-icon {
    margin-right: 18px;
}
.dashboard-sidebar .sidebar-sections .sidebar-section .trending-packs .sidebar-pack .pack-icon .pack-icon-image, .dashboard-sidebar .sidebar-sections .sidebar-section .user-packs .sidebar-pack .pack-icon .pack-icon-image {
    height: 40px;
    width: 40px;
}

.dashboard-sidebar .sidebar-sections .sidebar-section .user-packs .sidebar-pack .name-and-metadata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 0 6px;
}


.dashboard-sidebar .sidebar-sections .sidebar-section .user-packs .sidebar-pack.is-selected .pack-name {
    color: #fff;
    font-weight: 700;
}
.dashboard-sidebar .sidebar-sections .sidebar-section .user-packs .sidebar-pack .name-and-metadata .pack-name {
    color: hsla(0,0%,100%,.55);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 186px;
}

.progress {
    height: 0.5rem;
}

.dashboard-page ul{
    list-style: none;
    padding: 0;
}


/* DASHBOARD DETAIL */

.dashboard-pack-detail {
    border-left: 1px solid #324054;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    min-width: 884px;
    position: relative;
}

.dashboard-pack-detail-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboard-pack-detail-header .first-row {
    display: flex;
    padding: 36px;
}

.dashboard-pack-detail-header .first-row .pack-icon {
    display: flex;
    position: relative;
}

.dashboard-pack-detail-header .first-row .pack-icon .pack-icon-image {
    height: 130px;
    width: 130px;
}

.dashboard-pack-detail-header .first-row .pack-header-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 36px;
}

.dashboard-pack-detail-header .first-row .pack-header-main .pack-name {
    color: #28a5dc;
    line-height: 1;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    min-width: 470px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100vw - 744px);
}

.dashboard-pack-detail-header .first-row .pack-header-main .pack-metadata,
.dashboard-pack-detail-header .first-row .pack-header-main .pack-metadata .pack-creator {
    display: flex;
}


.dashboard-pack-detail-header .first-row .pack-header-main .pack-metadata .pack-creator {
    color: rgba(38,63,87,.8);
    font-size: 14px;
    font-weight: 600;
    height: 16px;
    line-height: 16px;
}
.dashboard-page a, .home-page a, .study-page a {
    color: #28a5dc;
    text-decoration: none;
}


.dashboard-pack-detail-header .first-row .pack-header-main .pack-metadata .user-pack-stats {
    color: rgba(38,63,87,.8);
    display: flex;
    font-size: 12px;
    line-height: 16px;
    margin-left: 18px;
}
.dashboard-pack-detail-header .first-row .pack-header-main .pack-metadata .user-pack-stats .stat-value {
    color: #28a5dc;
}

.dashboard-pack-detail-header .first-row .pack-header-main .pack-actions {
    display: flex;
}
.dashboard-pack-detail-header .first-row .pack-header-main .pack-actions .pack-action-buttons {
    align-items: center;
    display: flex;
    margin-left: -8px;
    margin-right: 30px;
}

.options-menu-button {
    position: relative;
}

.dashboard-pack-detail-header .first-row .pack-header-main .pack-actions .pack-action-buttons .pack-options-button .options-menu-button .options-button {
    font-size: 30px;
}
.dashboard-pack-detail-header .first-row .pack-header-main .pack-actions .pack-action-buttons .icon-button {
    color: hsla(220,7%,52%,.66);
}

.icon-button.back-button, .icon-button.edit-button {
    font-size: 24px;
}

.dashboard-pack-detail-header .second-row {
    display: flex;
}
.tab-switcher.is-light {
    background-color: rgba(5,101,156,.08);
    border-bottom: 1px solid rgba(46,64,86,.26);
    height: 42px;
    margin: 0;
}
.tab-switcher .tab-item {
    border-bottom: 3px solid transparent;
    color: hsla(0,0%,100%,.3);
    cursor: pointer;
    flex: 1;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 6px;
}
.tab-switcher.is-light .tab-item {
    border-bottom: 8px solid transparent;
    color: rgba(70,80,94,.8);
    font-size: 14px;
    padding-bottom: 4px;
}
.tab-switcher .tab-item.is-selected {
    border-bottom: 3px solid hsla(0,0%,100%,.4);
    color: hsla(0,0%,100%,.45);
    font-weight: 600;
}
.tab-switcher.is-light .tab-item.is-selected {
    border-bottom: 8px solid rgba(18,57,108,.36);
    color: #46505e;
}
.tab-switcher {
    border-bottom: 1px solid hsla(0,0%,100%,.4);
    display: flex;
    width: 100%;
}

/* DASHBOARD MAIN SECTION*/
.dashboard-pack-detail .detail-sections {
    height: calc(100vh - 244px);
    overflow-y: hidden;
}

.pack-decks-section {
    position: relative;
    min-height: 420px;
}
.pack-decks-section .pack-no-deck-info {
    padding: 36px 38px;
}

.dashboard-page h1, .dashboard-page h2, .dashboard-page h3,
.dashboard-page h4, .dashboard-page h5, .dashboard-page h6,
.home-page h1, .home-page h2, .home-page h3, .home-page h4,
.home-page h5, .home-page h6, .study-page h1, .study-page h2,
.study-page h3, .study-page h4, .study-page h5, .study-page h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.options-menu-button .options-menu.is-transitioned-in {
    opacity: 1;
    transition: opacity .5s ease 0s;
}
.options-menu-button .options-menu.is-transitioned-out {
    opacity: 1;
    transition: opacity .5s ease 0s;
}

.options-menu-button .options-menu {
    background-color: #f4f6f6;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: none;
    color: #222;
    font-size: 14px;
    left: -6px;
    line-height: 32px;
    list-style: none;
    margin-top: 10px;
    min-width: 160px;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    text-indent: 0;
    top: 36px;
    transition: opacity .5s ease 0s;
    z-index: 10;
}
.options-menu-button .options-menu:before {
    color: #f4f6f6;
    top: -9px;
    z-index: 100;
}

.options-menu-button .options-menu:after, .options-menu-button .options-menu:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 44px;
    position: absolute;
    line-height: 10px;
    left: 12px;
}

/* dashboard deck */

.pack-decks-section .deck-list {
    margin: 0;
    padding-bottom: 72px;
    padding-left: 0;
}
.dashboard-deck-row {
    position: relative;
}
.dashboard-deck-row .deck-row-contents {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 24px 42px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.dashboard-deck-row .deck-row-contents .deck-mastery {
    width: 54px;
    margin: 0 24px 0 0;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
    color: #ccc;
}
.dashboard-deck-row .deck-row-contents .deck-info {
    flex: 1;
}
.dashboard-deck-row .deck-row-contents .deck-info .deck-name-and-caption {
    align-items: center;
    display: flex;
    flex: 1;
}
.dashboard-deck-row .deck-row-contents .deck-info .deck-name-and-caption .deck-name {
    color: #28a5dc;
    font-size: 18px;
    font-weight: 600;
    margin: 0 18px 0 0;
}
.dashboard-deck-row .deck-row-contents .deck-info .deck-name-and-caption .deck-name-caption {
    margin: 4px 0 0;
    font-size: 12px;
    color: #999;
}
.dashboard-deck-row .deck-row-contents .deck-info .simple-progress-bar {
    margin-top: 6px;
}

.pack-decks-section .dashboard-pack-deck-list-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 36px 42px 12px;
    border-bottom: 1px solid #ccc;
}
.dashboard-deck-row .deck-row-contents .deck-actions {
    background-color: transparent;
    border: none;
    display: flex;
    margin-left: auto;
    padding: 0;
}

.dashboard-deck-actions-button-set, .dashboard-deck-actions-button-set .action-buttons {
    display: flex;
    justify-content: flex-end;
}

.dashboard-deck-row .deck-row-contents .deck-actions .icon-button.browse-button {
    font-size: 18px;
}
.dashboard-deck-row .deck-row-contents .deck-actions .icon-button.edit-button {
    font-size: 18px;
}
.dashboard-deck-row .deck-row-contents .deck-actions .icon-button.option-button {
    font-size: 18px;
}
.dashboard-deck-row .deck-row-contents .deck-actions .icon-button.study-button {
    font-size: 18px;
}

.preview-card, section.preview-card {
    display: flex;
    margin-bottom: 30px;
    font-size: 18px;
    color: #484848;
}

.preview-card .card-header, section.preview-card .card-header {
    display: flex;
    align-items: center;
}

.preview-card .card-face, section.preview-card .card-face {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 20vw;
    margin: 4px;
    padding: 44px;
    background-color: #fff;
    border-bottom: 5px solid #ccc;
    box-shadow: 3px 3px 4px 0 hsla(0,0%,53%,.49);
    width: calc((100% - 164px)/2);
}

/* Study Page */

.study-page {
    display: flex;
    position: relative;
}
.study-sidebar {
    background-color: #243043;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    min-height: 660px;
    min-width: 200px;
    padding: 30px 30px 24px;
    position: relative;
    width: 340px;
    z-index: 1000;
}
.study-card-table {
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 100vh;
    padding: 27px 30px;
    position: relative;
}
.study-sidebar .study-sidebar-header {
    align-items: flex-start;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.study-sidebar .sidebar-sections {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}
.study-sidebar .sidebar-sections .overall-stats-section, .study-sidebar .sidebar-sections .this-round-section {
    height: 100%;
}
.overall-stats-section {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 24px 0 0;
}
.overall-stats-section .overall-mastery-tooltip-wrapper {
    position: relative;
}

.study-card-table {
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 100vh;
    padding: 27px 30px;
    position: relative;
}

.study-sidebar .study-sidebar-header .first-row .study-mix-info {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -3px;
    padding-right: 0;
    width: 208px;
}

.overall-stats-section .confidence-ratings-tooltip-wrapper .confidence-ratings {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5vh 0 2vh;
}
.study-sidebar .study-sidebar-header .first-row .study-mix-info .study-mix-name {
    color: hsla(0,0%,100%,.7);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-top: 4px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 208px;
}

.study-sidebar .study-sidebar-header .first-row {
    align-items: flex-start;
    display: flex;
}
.study-sidebar .sidebar-sections .overall-stats-section, .study-sidebar .sidebar-sections .this-round-section {
    height: 100%;
}

.overall-stats-section {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 24px 0 0;
}
.overall-stats-section .confidence-ratings-tooltip-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.overall-stats-section .confidence-ratings-tooltip-wrapper .confidence-ratings {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5vh 0 2vh;
}

.overall-stats-section .confidence-ratings-tooltip-wrapper .confidence-ratings .confidence-ratings-heading {
    color: #ddd;
    font-size: 15px;
    font-weight: 100;
    margin: 0 0 12px;
    text-align: center;
}
.overall-stats-section .confidence-ratings-tooltip-wrapper .confidence-ratings .confidence-ratings-bars {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-between;
    max-height: 400px;
}
.study-page ul {
    list-style: none;
    padding: 0;
}

.study-card-table .study-card-table-contents {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.study-card-table .study-card-table-contents .study-card-table-header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.study-card-table .study-card-table-contents .study-cards {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
.study-card-bars {
    height: calc(10vh + 18px);
    position: relative;
}
.study-card-table .study-card-table-contents .study-card-table-header .deck-and-card-info {
    align-items: center;
    color: #888;
    display: flex;
}

.study-card-table .study-card-table-contents .study-card-table-header .deck-and-card-info .deck-name {
    color: #555;
    font-weight: 600;
}
.study-card-table .study-card-table-contents .study-cards {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}


/* Confianza */ 
.study-card-face.confidence-3 {
    border-bottom-color: #fd0;
}
.study-card .study-card-face {
    position: absolute;
    transition: opacity .3s ease 0s,top .3s ease 0s;
    z-index: 5;
}
.study-card-face {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 6px solid #888;
    box-shadow: 0 2px 4px rgba(99,99,99,.25);
    box-sizing: content-box;
    color: #333;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 24px;
    height: calc(100% - 96px - 7px);
    justify-content: flex-start;
    line-height: 1.4;
    margin: 24px;
    opacity: 1;
    padding: 24px;
    position: relative;
    width: calc(100% - 96px - 2px);
}

.study-card-table .study-card-table-contents .study-cards.are-placed .current-card {
    left: 0;
    opacity: 1;
}

.study-card-table .study-card-table-contents .study-cards .study-card {
    position: absolute;
}
.study-card {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 50;
}
.study-card-face .card-face-header {
    color: #bbb;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 48px);
}
.study-card-bars {
    height: calc(10vh + 18px);
    position: relative;
}

.study-card-bars .study-card-bar.question-bar.is-showing {
    opacity: 1;
    transition: opacity .45s ease 0s;
    z-index: 10;
}

.study-card-bars .study-card-bar.question-bar.confidence-3 {
    background-color: #fd0;
}
.study-card-table .study-card-table-contents .study-card-bar {
    margin: 18px 24px 0;
}
.study-card-bars .study-card-bar.question-bar {
    align-items: center;
    background-color: #373b43;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    height: 10vh;
    justify-content: center;
}
.study-card-bars .study-card-bar {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease 0s;
    width: calc(100% - 48px);
}
.study-card-face .card-content {
    color: #333;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 24px;
    height: 100%;
    justify-content: space-around;
    overflow: auto;
    width: 100%;
}

/* card-body a card-body-study*/
.study-card-face .card-content .card-body-study {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: auto;
    padding: 8px 36px 0;
}
.study-card-face .card-content .card-body-study .inner-html {
    flex: 1 1 auto;
}
.study-card-face .card-content .card-body-study p {
    color: #333;
    font-size: 24px;
    line-height: 1.4;
    margin: 1em 0;
}


.study-card-bars .study-card-bar .card-bar-prompt {
    position: absolute;
    text-align: center;
    top: -28px;
    width: 100%;
}
.confidence-level-buttons {
    display: flex;
}
.confidence-level-buttons .confidence-level-button {
    align-items: center;
    background-color: #29a5dc;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 300;
    height: 10vh;
    justify-content: center;
    position: relative;
}
.confidence-level-buttons .confidence-level-button.confidence-no {
    background-color: #aa0080;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.confidence-level-buttons .confidence-level-button.confidence-yes {
    background-color: #00a8d7;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Estados iniciales */
.study-card.question-mode .study-card-face.question-face {
    top: 0;
    z-index: 10
}

.study-card.question-mode .study-card-face.answer-face {
    opacity: 0;
    pointer-events: none;
    top: -60px
}
/**/
.study-card.question-mode .study-card-face.question-face {
    top: 0;
    z-index: 10
}

.study-card.question-mode .study-card-face.answer-face {
    opacity: 0
}
.study-card.answer-mode .study-card-face.question-face {
    opacity: 0;
    pointer-events: none;
    top: 60px
}

.study-card.answer-mode .study-card-face.answer-face {
    top: 0;
    z-index: 10
}

.study-card.answer-mode .study-card-face.question-face {
    opacity: 0
}

.study-card.answer-mode .study-card-face.answer-face {
    top: 0;
    z-index: 10
}

.my-node-enter {
    opacity: 0;
  }
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}